[Unit]
Description=usbipd startup
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash python3 ~/thing.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target


