
doctype html

h4 ...Or, you could...

body
    form(action="https://transscendsurvival.org/")
        input(type='submit', value="...Visit Jess!")
br

body
    form(action="https://makerspace.plymouthcreate.net/")
        input(type='submit', value="...Visit the D&M Makerspace!")
br


